<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

Hi!

    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Last name </th>
            <th> Age </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.lastName}"> Last Name </span></td>
            <td><span th:text="${user.age}"> Age </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>